@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-content text-center text-white" style="padding: 100px 20px;">
    <h1>Вітаємо у ресторані "De MoroZe"!</h1>
    <p>У нас ви зможете скуштувати найращі страви найкращих кухонь усього світу</p>

    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary btn-lg" href="/MenuItems">Переглянути меню</a>
        <a class="btn btn-primary btn-lg" href="/Reservations/Create">Забронювати столик</a>
    }
    else
    {
        <p>Для перегляду меню та створення бронювань увійдіть у систему</p>
        <br />
        <a class="btn btn-warning btn-lg" href="/Users/Login">Увійти</a>
    }
    
</div>

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        fetch ('/api/charts/countByItem')
        .then(response => response.json())
        .then(data => {
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Позиція');
            dataTable.addColumn('number', 'Кількість замолвень');
            data.forEach(item => {
                dataTable.addRow([item.year, item.count]);
            });
            const options = {
                title: 'Страви за замовленнями',
                width: 600,
                height: 400,
                legend: {position: 'none'},
            };
            const chart = new google.visualization.ColumnChart(document.getElementById('countByItemChart'));
            chart.draw(dataTable, options);
        });
    }
    </script>
}