html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    background: url('/images/RealRestaurant.jpg') no-repeat center center fixed;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

footer {
    position: relative;
    background-color: rgb(28, 24, 24);
    z-index: 1;
    margin-top: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
    background-color: rgba(28, 24, 24, 0.8);
    pointer-events: none;
    z-index: -1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}